*{
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}
body{
	margin: 4.2%;
	
}
.upper{
	background: url("background.jpg");
	height: 100vh;
	width: 90vw;
	border: none;
	
}
nav{
	background: white;
	height: 10vh;
	display: flex;
	align-items: center;
	font-weight: bold;
	
	
	justify-content: left;
}
nav a{
	text-decoration: none;
	color: cyan;
	opacity: .8;
}
nav a:hover{
	opacity: 1;

}
.logo{
	text-decoration: underline;
	font-size: 2rem;
	color: #007b7b;
	letter-spacing: 0.3rem;
}
.other{
	display: flex;
	justify-content: space-around;
	width: 50vw;

}

.dlogo{
	width: 50vw;
}
.cart{
	border: none;
	background:#007b7b;
	width: 10vw;
	height: 5vh;
	font-weight: bold;
	line-height: 2px;
	color: white;
}
.cart:hover{
	opacity: .8;

}
.moto h1{
	display: block;
	text-align: center;
	margin: 0 auto;
	font-size: 3rem;
	width: 50vw;
	padding-top: 20vh;
	color: white;
}
.moto h2{
	display: block;
	text-align: center;
	margin: 0 auto;
	font-weight: lighter;
	width:45vw;
	padding-top: 5vh;
	color: #ffffffb8;
}
.moto button{
	display: block;

	width: 14vw;
	height: 8vh;
	margin: 0 auto;
	border: none;
	margin-top: 5vh;
	transition: .3s 0all;
}
.explore:hover{
	opacity: .9;
}
.moto a{
	text-decoration: none;
}
.this{
	font-weight: lighter;
	letter-spacing:0.7vw;
	font-size: 3.5rem;
}
.talk{
	font-weight: lighter;
	font-size: 2vw;
	margin-top: -5vh;
	width: 60vw;
	letter-spacing:0.2vw;
	color: grey;
}
.pars{
	display: flex;

}
.pars p{
	padding:3vw ;
	font-size: 1.2rem;
	color: grey;
	text-align: left;
	padding-left: 0;
	line-height: 2rem;
}